@font-face {
  font-family: 'SharpGrotesk 15';
  src: url('../fonts/SharpGrotesk-Black15.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGrotesk 20';
  src: url('../fonts/SharpGrotesk-Black20.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SharpGrotesk 25';
  src: url('../fonts/SharpGrotesk-Black25.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'APK Protocol';
  src: url('../fonts/APK-Protocol-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}